<!DOCTYPE html>
<html>
<head>
    <title></title>

    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/css/scrollbar.css">

    <link rel="stylesheet" type="text/css" href="/css/category.css">
    <link rel="stylesheet" type="text/css" href="/css/filter.css">
    <link rel="stylesheet" type="text/css" href="/css/detail.css">
</head>
<body>
    <script type="text/template" id="news-template">
        <td class="detail-table-col_title">
            <span>
                <a class="detail-table-link-primary" target="_blank" href="<%= url %>"><%= title %></a>
            </span>
        </td>
        <td class="detail-table-col_time">
            <span><%= countdown %></span>
        </td>
        <td class="detail-table-col_source">
            <span>
                <a class="detail-table-link-secondary" target="_blank" href="<%= meta.url %>"><%= meta.category_name %></a>
            </span>
        </td>
    </script>
	<div class="main">
        <div class="content">
            <div class="detail">
                <table class="detail-table">
                    <tbody class="detail-table-body">
                        {{ list.forEach(function (data, index) { }}
                            <tr class='{{= helper.isOdd(index) }}'>
                                <td class="detail-table-col_title">
                                    <span><a class="detail-table-link-primary" target="_blank" href="{{= data.url }}">{{= data.title }}</a></span>
                                </td>
                                <td class="detail-table-col_time">
                                    <span>{{= helper.dateFormat(data.date) }}</span>
                                </td>
                                <td class="detail-table-col_source">
                                    <span><a class="detail-table-link-secondary" target="_blank" href="{{= data.meta.url }}">{{= data.meta.name }}</a></span>
                                </td>
                            </tr>                            
                        {{ }) }}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="detail-table-more-wrap" colspan="3">
                                <span class="detail-table-more">点击加载更多</span>
                                <span class="detail-table-more" style="display:none;">加载中</span>
                                <span class="detail-table-more" style="display:none;">没有更多了</span>
                            </td>
                        </tr>
                    </tfoot>                    
                </table>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="category">
            <div class="category-section">
                <div class="category-section-title">
                    <p>常用</p>
                </div>
                <div class="category-section-list">
                    <ul>
                        <li><a href="/#" data-category="all" class="category-section-item">所有</a></li>
                        {{ for (var category in config) { }}
                        {{ var category_name = config[category].aka; }}
                            <li><a href="#category/{{= category }}" data-category="{{= category }}" class="category-section-item" title="{{= category_name }}">{{= category_name }}</a></li>
                        {{ } }}
                    </ul>
                </div>
            </div>
            <div class="category-section">
                <div class="category-section-title">
                    <p>各种排行榜</p>
                </div>
                <div class="category-section-list">
                    <ul>
                        <li><a href="javascript:void(0);" class="category-section-item" title="Billboard">Billboard</a></li>
                        <!-- http://www.boxofficemojo.com/weekend/chart/ -->
                        <li><a href="javascript:void(0);" class="category-section-item" title="北美票房(Box Office Mojo版)">北美票房(Box Office Mojo)</a></li>
                        <!-- https://www.yahoo.com/movies/box-office -->
                        <li><a href="javascript:void(0);" class="category-section-item" title="北美票房(yahoo版)">北美票房(yahoo版)</a></li>
                        <!-- http://www.slbook1996.com/book/allbang.htm -->
                        <li><a href="javascript:void(0);" class="category-section-item" title="三联版图书榜">三联版图书榜</a></li>
                        <li><a href="javascript:void(0);" class="category-section-item" title="三联畅销书榜">三联畅销书榜</a></li>
                    </ul>
                </div>
            </div>           
        </div>
    </div>
    <div class="side">
        <div class="filter">
            <div class="filter-section">
                <div class="filter-section-title">
                    <p>筛选</p>
                </div>
                <div class="filter-section-list">
                    <ul>
                        {{ for (var category in config) { }}
                            {{ var websites = config[category].websites; }}
                            {{ websites.forEach(function (site) { }}
                            <li class="filter-section-item" data-category="{{= category }}">
                                <a href="javascript:void(0)" class="filter-section-item-text">
                                    <img class="filter-section-item-img" src="{{= site.icon }}">
                                    <span>{{= site.aka }}</span>
                                    <div class="filter-section-item-icons">
                                        <input data-site="{{= site.id }}" class="filter-section-item-watched" type="checkbox" checked>
                                    </div>
                                </a>
                            </li>
                            {{ }) }}
                        {{ } }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Lib -->
    <script type="text/javascript" src="/js/lib/jquery.js"></script>
    <script type="text/javascript" src="/js/lib/underscore-debug.js"></script>
    <script type="text/javascript" src="/js/lib/backbone-debug.js"></script>
    <!-- News -->
    <script type="text/javascript" src="/js/model/news.js"></script>
    <script type="text/javascript" src="/js/view/news.js"></script>
    <script type="text/javascript" src="/js/collection/news.js"></script>
    <script type="text/javascript" src="/js/collection/more.js"></script>
    <!-- Other View -->
    <script type="text/javascript" src="/js/view/category.js"></script>
    <script type="text/javascript" src="/js/view/sites.js"></script>    
    <!-- Config -->
    <script type="text/javascript" src="/js/model/cfg.js"></script>
    <!-- Boot -->
    <script type="text/javascript" src="/js/view/app.js"></script>
    <script type="text/javascript" src="/js/ui.js"></script>
    <script type="text/javascript">
        app.presenter.initNewsList({{- JSON.stringify(list) }});
    </script>    
    <!-- 
        Router:
        1. router.js必须放在app.js之后，必须先监听事件，再触发事件 
        2. router.js必须放在数据初始化之后，否则无法加载数据
    -->
    <script type="text/javascript" src="/js/router.js"></script>    
</body>
</html>